@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(49, 49, 49);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navBar {
  box-shadow: black 0px 0px 20px 1px;
  background-color:theme('colors.secondd');
}
a {
  text-decoration-line: none;
}

button{
  background-color: theme('colors.secondd')!important;
  border-color: theme('colors.secondd')!important;
  color: theme('colors.BgTextColor')!important;
  /*font-weight: 600!important;*/
    
}
/* Exclude button styles from the Accordion.Body */
.Accordion.Body > button {
  background-color: transparent !important;
  border-color: transparent !important;
}
    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: rgb(77, 77, 77); 
      border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #3d3d3d; 
    }

    option {
    background-color: #fff;
    color: #333; /* Text color */
    padding: 0.5rem; /* Padding */
    border-bottom: 1px solid #ddd; /* Bottom border */
    transition: background-color 0.3s ease; /* Smooth transition */
}

option:hover {
    background-color: #f5f5f5; /* Hover background color */
}

/* For mobile */
@media screen and (max-width: 1000px) {
  
}

/* For web */
@media screen and (min-width: 1001px) {

}
@media screen and (max-width: 1000px) {
  .Text{
    font-weight: 600!important;
    font-size: 0.9rem!important;
    text-align: center;
  }

  .itemsTable  {
    overflow: auto;
    height: 26%!important;
  }
  .FormOptionContainer {
    width: 80%;
    height: 90%;
    overflow: auto;

  }
  .clientBalCall {

    display:flex;
    flex-direction: column;
    
    justify-content: space-between;
    margin-bottom: 0.1%!important;
    height: 23.9%!important;
    
  }

  .InvoiceFooterCalculation{
    justify-content: end!important;
  }
  .InvoiceEqCur{
    display: none!important;
  
  }
  .InvoiceGross{
    display:none!important;
  }
  .InvoiceTax{
    display:none!important;
  }
  .invoiceRateOption{
    height: 22%!important;
  }
  .optionText{
    font-size: 1rem!important;

  }
  .select-style{
    font-size: 0.75rem!important;
  }
  .ReCall-select-style{
    font-size: 0.6rem!important;
  }
}
.optionText{

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  color: theme('colors.BgTextColor');
   
}

/* For web */

  .itemsTable {
    overflow: auto;
    height: 54%;
  }
  .clientBalCall  {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1%;
    height: 15%;

  }

.FormOptionContainer {
  background-color: #fff;
  padding: 1rem; /* Adjust padding as needed */
  border-radius: 0.5rem; /* Adjust border radius as needed */

}
.invoiceRateOption {
  height: 13%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: space-between; /* or justify-items: space-between; depending on your needs */
}

@media screen and (max-width: 1000px) {
  
}

.InvoiceFooterCalculation{
  font-weight: 600;
  font-size: 1.25rem;
  height: 42%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  
}
.InvoiceEqCur{
  display: block;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth effect */
  

  /* Add elevation */
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1); /* Customize elevation as needed */

}
.InvoiceGross{
  display:block;
  margin-right: 20px;
  
 
}
.InvoiceTax{
  display:block;
  margin-right: 20px;
}
.ActionButtons{
  background-color: theme('colors.secondd')!important;
  height: 100%;
  width: 20%;
  /*font-weight: bold!important;*/
  font-size: 1.25rem;
  border-color: theme('colors.fourth')!important;
  
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth effect */

  /* Add elevation */
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1); /* Customize elevation as needed */
  
}
/* Hover effect */
.ActionButtons:hover {
  background-color:'#000000' /* Your hover color here */;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Adjust elevation on hover */
}

#contained-modal-title-vcenter{
  font-weight: 600;
  font-size: 1.25rem;
}
/* .ActionButtonsDanger{
  background-color: theme('colors.prime')!important;
  height: 100%;
  width: 20%;
  font-weight: 600;
  font-size: 1.25rem;
} */

.Text{
  font-weight: 600;
  font-size: 1.35rem;
  color:  theme('colors.BgTextColor');
}
.select-style {
  padding: 0.15rem;
  width: 100%;
  height: 100%;
  border-radius: 0.375rem; /* 0.5rem / 4 */
  border: 1px solid #d1d5db; /* equivalent to border-gray-300 */
  background-color: #ffffff; /* equivalent to bg-white */
  color: theme('colors.BgTextColor')!important; /* equivalent to text-gray-700 */
  outline: none; /* equivalent to focus:outline-none */
  border-color: theme('colors.secondd'); /* equivalent to focus:border-second */
  font-size: 1.05rem; /* equivalent to text-sm */
  font-weight: 700; /* equivalent to font-semibold */
  line-height: 1.5rem; /* equivalent to text-lg */
  box-shadow: 0 0 0 2px theme('colors.prime'); /* equivalent to focus:ring-second */
  
 > overflow-hidden whitespace-nowrap{
  font-size: 0.9rem!important;
  

 }
}

.ReCall-select-style {
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.8rem ;
}
.navbarContent{
  
  color:  theme('colors.BgTextColor')!important;

}
.navbarContent:hover{
  background-color:theme('colors.secondd')!important;
}
.pdf{
  margin-bottom: 15px;
}
th {
  font-weight: 400!important;
  
}